.apartment {
    background: #FCFCFB;
    padding-bottom: 32px;
    padding-top: 24px;


    @media screen and (min-width: 768px) {
        padding-bottom: 40px;
    }



    &__titles {
        margin-bottom: 40px;
        color: var(--text-of-pages, #7E6D53);
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;


        @media screen and (min-width: 768px) {
            font-size: 40px;
        }


    }


    &__list {
        margin-bottom: 28px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 32px;
        flex-wrap: wrap;

        @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
        }

    }


    &__item {
        border-radius: 16px;
        width: 280px;
        height: 383px;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        cursor: pointer;


        @media screen and (min-width: 768px) {
            width: 336px;
            height: 393px;
            padding: 20px 44px;
            gap: 14px;
        }


        @media screen and (min-width: 1200px) {
            width: 360px;
            height: 393px;
            padding: 20px 58px;
        }
    }

    &__item:active {
        border: 2px solid #7E6D53;
        box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.15);
    }


    &__title {
        color: var(--button-text, #2D2A22);
        font-family: Poppins;
        height: 34px;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 120.5%;


        @media screen and (min-width: 768px) {
            height: 39px;
            font-size: 32px;
        }


    }


    &__text {
        color: var(--text-of-pages, #7E6D53);
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 130%;
        height: 26px;


        @media screen and (min-width: 768px) {
            height: 31px;
            font-size: 24px;
        }


    }


    &__button {
        display: flex;
        height: 54px;
        padding: 14px 28px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 16px;
        background: #7E6D53;
        color: #FCFCFB;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: center;
        margin-left: auto;
        margin-right:auto ;

        @media screen and (min-width: 768px) {
            font-size: 20px;
            height: 58px;
            width: 264px;
        }

    }

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__imga {
        width: 192px;
        height: 255px;
        flex-shrink: 0;
    }
}