.hero {
    background-image: url(../image/mobile/hero-bg@mobile-1x.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15px;
    padding-bottom: 60px;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../image/mobile/hero-bg@mobile-2x.webp);
    }

    @media screen and (min-width:768px) {
        margin-bottom: 100px;
        background-image: url(../image/table/hero-bg@table-1x.webp);
    }

    @media screen and (min-width:768px) {

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../image/table/hero-bg@table-2x.webp);
        }

        @media screen and (min-width:1200px) {
            padding-bottom: 100px;
            padding-top: 32px;
            background-image: url(../image/desctop/hero-bg@desctop-1x.webp);
        }

        @media screen and (min-width:1200px) {

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: url(../image/desctop/hero-bg@desctop-2x.webp);
            }
        }
    }

    &__img {
        position: absolute;
        top: 629px;
    }

    &__photo {
        display: none;
    }

    &__title {
        color: #7E6D53;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;

        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1200px) {
            color: var(--text-of-pages, #7E6D53);
            /* main title */
            font-family: Poppins;
            font-size: 72px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 8px;
        }
    }

    &__text {
        color: #7E6D53;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        margin-bottom: 212px;
        max-width: 184px;
        font-weight: 300;
        line-height: normal;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1200px) {
            margin-bottom: 382px;
            max-width: 600px;
            font-family: Poppins;
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
    }


    &__button {
        color: #2D2A22;
        font-size: 20px;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-right: 28px;
        padding-left: 28px;
        font-style: normal;
        // margin-left: 480px;
        font-weight: 300;
        line-height: normal;
        border-radius: 16px;
        background: #FCFCFB;

        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1200px) {
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            // margin-left: 435px;
            padding-top: 14px;
            padding-bottom: 14px;
            width: 254px;
            padding-right: 28px;
            height: 54px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-left: 28px;
        }
    }
}

.fix {
    display: flex;
    justify-content: center;
}