.philosophy {
  max-width: 300px;
  height: 630px;
  margin-bottom: 60px;
  background-color: $title-color;

  @media screen and (min-width: 768px) {
    max-width: 738px;
    margin-bottom: 100px;
    margin-top: 40px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1160px;
    margin-bottom: 100px;
    margin-top: 40px;
  }

  margin-left: auto;
  margin-right: auto;
  background-image: url(../image/desctop/Philosophy-bg@desctop-1x.webp);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 320px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0), rgba(47, 48, 58, 0)),
      url(../image/mobile/Philosophy-bg@mobile-1x.webp);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0),
          rgba(47, 48, 58, 0)
        ),
        url(../image/mobile/Philosophy-bg@mobile-2x.webp);
    }
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0), rgba(47, 48, 58, 0)),
      url(../image/table/Philosophy-bg@table-1x.webp);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0),
          rgba(47, 48, 58, 0)
        ),
        url(../image/table/Philosophy-bg@table-2x.webp);
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0), rgba(47, 48, 58, 0)),
      url(../image/desctop/Philosophy-bg@desctop-1x.webp);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0),
          rgba(47, 48, 58, 0)
        ),
        url(../image/desctop/Philosophy-bg@desctop-2x.webp);
    }
  }

  &__title {
    color: $name-color;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
      font-size: 19px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 24px;
    }
  }

  &__discription {
    color: $title-color;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;

    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }

  &__text {
    color: $title-color;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
  }

  &__svg {
    width: 32px;
    height: 32px;
    margin-bottom: 24px;
    fill: transparent;
    stroke: $name-color;
  }

  &__list {
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 32px;
    padding-top: 20px;
    gap: 20px;

    @media screen and (min-width: 768px) {
      width: 497px;
      padding-bottom: 40px;
      padding-top: 40px;
      gap: 60px;
    }
    @media screen and (min-width: 1200px) {
      width: 497px;
      padding-bottom: 44px;
      padding-top: 44px;
      margin-right: 0;
      gap: 92px;
    }
  }

  &__item {
    width: 130px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 768px) {
      width: 152px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 0;
      margin-right: 0;
    }

    &:nth-child(2) {
      @media screen and (min-width: 1200px) {
        width: 235px;
        margin-left: auto;
      }
    }

    &:last-child {
      @media screen and (min-width: 1200px) {
        margin-left: 20px;
      }
    }
  }

  &__box {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (min-width: 768px) {
      width: 336px;
    }

    @media screen and (min-width: 1200px) {
      width: 393px;
    }
  }

  &__div {
    display: block;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;

    @media screen and (min-width: 768px) {
      display: flex;
      padding-bottom: 0px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      padding-bottom: 0px;
    }
  }

  .container {
    background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    );
  }
}
