.container {
  width: 300px;
  padding: 0 10px;
  margin: 0 auto;
  // outline: 1px solid red;

  @media screen and (min-width: 768px) {
    width: 736px;
    padding: 0 16px;
  }
  
  @media screen and (min-width: 1200px) {
    width: 1160px;
    padding: 0 16px;
  }
}

body {
  font-family: Poppins;
  background: #ede9e3;
}

html {
  scroll-behavior: smooth;
}
