@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/placeholder";
@import "./base/reset";
@import "./base/common";
@import "./sections/header";
@import "./sections/hero";
@import "./sections/philosophy";
@import "./sections/apartment";
@import "./sections/infrastructure";
@import "./sections/gallery";
@import "./sections/touch";
@import "./sections/footer";
@import "./modals/apartment-adress-modal";
@import "./modals/apartment-backdrop";
@import "./modals/hero-info-modal";
@import "./modals/mobile-menu";
@import "./modals/touch-modal-contact";
