.modal {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 1%;
    bottom: 90%;
    left: 30%;
    right: 30%;
    width: 320px;
    height: 519px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 50px;
    width: 320px;

    @media screen and (min-width:768px) {
        background-color: #ff00;
         height: 614px;
        width: 530px;
        padding-top: 12px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width:1200px) {
        background-color: #FFF;
        height: 624px;
        padding-top: 12px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 60px;
    }

    &__close__button {
        background-color: transparent;
        border-radius: 50%;
        display: block;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 8px;
        right: 8px;
    }
    &__title {
        text-align: start;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        color: black;
        letter-spacing: 0.6px;

        @media screen and (min-width:768px) {
            text-align: center;
            color: #35322D;
            text-align: center;
            font-family: Montserrat;
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        @media screen and (min-width:1200px) {
            color: #35322D;
            text-align: center;
            font-family: Montserrat;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }

    &__input {
        max-width: 720px;
        height: 40px;
        border-radius: 4px;
        padding-left: 16px;
        border-radius: 16px;
        border: 1px solid #3A3631;
        background-color: hsl(0, 0%, 100%, 1000%);

        @media screen and (min-width:768px) {
            width: 410px;
            height: 52px;
        }

        @media screen and (min-width:1200px) {
            width: 410px;
            height: 52px;
            flex-shrink: 0;

        }
    }

    &__input:focus {
        outline: none;
        border: 1px solid blue;
    }

    &__button {
        color: #FCFCFB;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.87;
        letter-spacing: 0.96px;
        border-radius: 8px;
        background: #7E6D53;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        margin: 0 auto;
        display: block;
        margin-top: 28px;
        padding: 14px 76px;
        border-color: transparent;

        @media screeen and (min-width:768px){
            display: flex;
                width: 224px;
                height: 54px;
                padding: 6px 0px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                flex-shrink: 0;
        }

        @media screen and (min-width:1200px) {
            color: #FCFCFB;
            display: flex;
                width: 224px;
                height: 54px;
                padding: 6px 0px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                flex-shrink: 0;
                font-family: Poppins;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
        }
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.42px;
    }

    &__name {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.12px;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;
    }

    &__label {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
}

.hero-modal {
    width: 100%;
    height: 100%;
    background: #7e6d5370;
    backdrop-filter: blur(4px);
    background-blend-mode: difference;
    position: fixed;
    top: 0;
    left: 0;
}

.hero-modal.is-close {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

// .backdrop.is-hidden .modal {
//     transform: translate(-500%, -500%);
// }

.fixer {
    display: flex;
    flex-direction: column !important;
}