.modal {
    border-radius: 4px;
    background: #fff;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition-property: transform;
    transition-duration: 3s;
    animation-name: modal;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, -2.55);
    animation-duration: 7s;
    animation-delay: 5s;
    animation-direction: unset;
    transition-delay: 2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 40px;
    padding-left: 32px;
    padding-bottom: 40px;
    padding-right: 57px;
    width: 320px;

    @media screen and (min-width:768px) {
        width: 571px;
    }

    &__closebutton {
        background-color: transparent;
        display: block;
        width: 32px;
        height: 32px;
        fill: black;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 8px;
        right: 8px;
    }

    &__title {
        color: var(--button-text, #2D2A22);
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        animation-name: hero-title;
        animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, -2.55);
        animation-duration: 5s;
        animation-delay: 15s;
        animation-direction: unset;
        line-height: normal;
        text-align: center;
        margin-bottom: 32px;
    }

    &__ingradient-title {
        color: #7E6D53;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    &__mini-text {
        color: #2D2A22;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__ingradient {
        color: #7E6D53;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__subtitle {
        color: #2D2A22;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__button {
        color: #FCFCFB;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        width: 192px;
        height: 48px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        // margin-top: 16px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #7E6D53;
        border-color: transparent;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__flex {
        display: flex;
        flex-direction: column;
        gap: 50px;

        @media screen and (min-width:768px) {
            flex-direction: row;
            gap: 22px;
        }
    }

    @keyframes modal {
        0% {
            background-color: white;
            transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) perspective(17px) rotate3d(1, 2, 3, 10deg) translate3d(12px, 50%, 3em) scale3d(2.5, 1.2, 0.3) skew(30deg, 20deg);
        }

        50% {
            background-color: transparent;
        }

        100% {
            background-color: white;
        }
    }

    @keyframes hero-title {
        0% {
            transform: translate(-0%, -35%);
        }

        30% {
            transform: translate(0%, 0%);
        }

        70% {
            transform: translate(-0%, -35%);
        }

        100% {
            transform: translate(0%, 0%);
        }
    }
}

.backdrop {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}

.no-scroll {
    overflow: hidden;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-500%, -500%);
}