.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  z-index: 999;
  background: linear-gradient(to bottom right, #7e6d53, #2d2a22);
  padding: 80px 108px 254px 108px;

  transform: translateY(-100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__open {
    background-color: transparent;

    @media screen and (max-width: 767px) {
      opacity: 1;
      margin-left: auto;
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
  }

  &__link {
    color: var(--button-background, #fcfcfb);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;

  }
}

.is-open {
  transform: translateY(0);
  }