<section class="apartment">
    <div class="container">
        <h2 class="apartment__titles">Choose your apartment</h2>

        <ul class="apartment__list">
            <li class="apartment__item">
                <img class="apartment__image" src="./image/desctop/apartment-1@desctop-1x.webp" alt="Кімната номер 1">
                <h2 class="apartment__title">Type 1</h2>
                <p class="apartment__text">total area 23 meters</p>
            </li>
            <li class="apartment__item">
                <img class="apartment__image" src="./image/desctop/apartment-2@desctop-1x.webp" alt="Кімната номер 2">
                <h2 class="apartment__title">Type 2</h2>
                <p class="apartment__text">total area 27 meters</p>
            </li>
            <li class="apartment__item">
                <img class="apartment__imga" src="./image/desctop/apartment-3@desctop-1x.webp" alt="Кімната номер 3">
                <h2 class="apartment__title">Type 3</h2>
                <p class="apartment__text">total area 31 meters</p>
            </li>
        </ul>
        <div class="apartment__box">
            <button class="apartment__button" type="submit" data-modal-apartment-open>
                Download catalog
            </button>
        </div>
    </div>
</section>
<section>
    <div class="menu is-hidden" data-modal-apartment>
        <div class="menu__window">
            <button class="menu__close-button" type="button" data-modal-apartment-close>
                <svg class="menu__close-icons" width="24" height="24">
                    <use href="./image/desctop/symbol-defs.svg#icon-close-for-apartment">

                    </use>
                </svg>
            </button>
            <div class="menu__box">
                <div class="menu__boxes">
                    <img class="menu__photo" src="./image/desctop/man-with-computer.png"
                        alt="чоловік сидить в комп'ютері">
                </div>
                <div class="menu__boes">
                    <h2 class="menu__title">Download the catalog</h2>
                    <p class="menu__text">
                        We will send you more photos,
                        videos and information by mail</p>
                    <div class="menu__boxen">
                        <form>
                            <label for="email" class="menu-name">

                                <input id="email" type="email" placeholder="EMAIL ADRESS" class="menu__input"
                                    required />
                            </label>
                            <button class="menu__button-open" type="submit" data-backdrop-open>
                                <svg class="menu__icons" width="24" height="24">
                                    <use href="./image/desctop/symbol-defs.svg#icon-send"></use>
                                </svg>
                            </button>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="backdrop is-hidden" data-backdrop>
        <div class="backdrop__window">
            <button class="backdrop__close-button" type="button" data-backdrop-close>
                <svg class="backdrop__close-icons" width="24" height="24">
                    <use href="./image/desctop/symbol-defs.svg#icon-close-for-apartment">

                    </use>
                </svg>
            </button>
            <div class="backdrop__box">
                <div class="backdrop__boxes">
                    <img class="backdrop__photo" src="./image/desctop/man-with-computer.png"
                        alt="чоловік сидить в комп'ютері">
                </div>
                <div class="backdrop__boes">
                    <h2 class="backdrop__title">GREAT!</h2>
                    <p class="backdrop__text">NOW CHECK YOUR MAIL</p>
                </div>
            </div>
        </div>
    </div>
</section>