<section class="footer">
    <div class="container">
        <div class="footer__box">
            <ul class="footer__list">
                <a class="footer__logo" href="../index.html">
                    <img class="footer__img" src="./image/logo.webp" alt="logo" />
                  </a>
            </ul>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="" class="footer__link">
                        <h3 class="footer__title">Navigation</h3>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">
                        <p class="footer__txt">Home</p>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">
                        <p class="footer__txt">About</p>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">
                        <p class="footer__txt">Apartments</p>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">
                        <p class="footer__txt">Infrastructure</p>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">
                        <p class="footer__txt">Gallery</p>
                    </a>
                </li>
            </ul>
            <ul class="footer__list">
                <li class="footer__item">
                    <a href="" class="footer__link">
                        <h3 class="footer__title">Contacts</h3>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">
                        <a class="footer__liink" href="tel:4065550120">(406) 555-0120</a>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">
                        <address class="footer__liink">ul. Chodkiewicza Karola 111, Chorzów</address>
                    </a>
                </li>
                <li class="footer__item">
                    <a href="" class="footer__link">
                        <a class="footer__liink" href="mailto:deanna.curtis@example.com">deanna.curtis@example.com</a>
                    </a>
                </li>
            </ul>
            <ul class="footer__list">
                <li class="footer__itemsvg">
                    <a href="#" class="footer__linksvg">
                    <svg class="footer__svg">
                        <use href="../image/desctop/symbol-defs.svg#icon-simple-line-icons_social-youtube"></use>
                    </svg>
                </a>
            </li>
                <li class="footer__itemsvg">
                    <a href="#" class="footer__linksvg">
                        <svg class="footer__svg">
                            <use href="../image/desctop/symbol-defs.svg#icon-akar-icons_facebook-fill"></use>
                        </svg>
                    </a>
            </li>
                <li class="footer__itemsvg">
                    <a href="#" class="footer__linksvg">
                        <svg class="footer__svg">
                            <use href="../image/desctop/symbol-defs.svg#icon-lucide_twitter"></use>
                        </svg>
                    </a>
            </li>
                <li class="footer__itemsvg">
                    <a href="#" class="footer__linksvg">
                        <svg class="footer__svg">
                            <use href="../image/desctop/symbol-defs.svg#icon-akar-icons_instagram-fill"></use>
                        </svg>
                    </a> 
            </li>
                           
            </ul>
        </div>
    </div>
    </div>
</section>
