<header class="header">
  <div class="container header__phone">
    <a class="header__logo" href="../index.html">
      <img class="header__img" src="./image/logo.webp" alt="logo" />
    </a>
    <div class="header__box">
      <ul class="header__list">
        <li class="header__item"><a href="#section1" class="header__link">Home</a></li>
        <li class="header__item"><a href="#section2" class="header__link">About</a></li>
        <li class="header__item"><a href="#section3" class="header__link">Apartments</a></li>
        <li class="header__item"><a href="#section4" class="header__link">Infrastructure</a></li>
        <li class="header__item"><a href="#section5" class="header__link">Gallery</a></li>
        <li class="header__item"><a href="#section6" class="header__link">Contacts</a></li>
      </ul>
      <button class="header__button">
        <p>Contact us</p>
      </button>
    </div>
    <button type="button" class="menu__open js-open-menu">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="16"
        viewBox="0 0 18 16"
        fill="none"
      >
        <path
          d="M0 0H18V2H0V0ZM0 7H18V9H0V7ZM0 14H18V16H0V14Z"
          fill="#FCFCFB"
        />
      </svg>
    </button>
  </div>
</header>
