<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__closebutton" type="button" data-modal-close>
    <svg class="modal__icon" width="18" height="18">
      <use href="./image/desctop/symbol-defs.svg#icon-close-for-apartment">
      </use>
    </svg>
    
    <h2>House 1</h2>
    <div>
      <img src="" alt="">
      <svg class="modal__icon" width="18" height="18">
        <use href="./image/desctop/symbol-defs.svg#icon-iconoir_graph-up">
        </use>
      </svg>
      <ul>
        <li>
          <h3 class="modal__title">Total area: <span class="modal__ingradient">50.2 m2</span></h3>
        </li>
        <li>
          <h3 class="modal__title">Rooms: <span class="modal__ingradient">1</span></h3>
        </li>
        <li>
          <h3 class="modal__ingradient-title">
            from 1000 dol/m2
          </h3>
        </li>
        <li>
          <h3 class="modal__mini-text">
            about 50 200 dollars
          </h3>
        </li>
        <li><button class="modal__button" type="button" data-modal-close>Contact us</button></li>
      </ul>
    </div>
  </div>
</div>