<!-- Dima work -->
<section class="hero">
    <div class="container hero-container">
        <h2 class="hero__title">Nice view</h2>
        <div class="hero__fix">
           <p class="hero__text">For your comfortable life with your family</p>
        </div>
        <ul class="hero__list">
            <li class="hero__item-1">
                <img class="hero__img-1" src="../image/pavan-desktop.png" alt="hero-img">
            </li>
            <li class="hero__item-2">
                <button class="hero__button" type="submit" data-modal-open>Contact us</button>
            </li>
            <li class="hero__item-3">
                <img class="hero__img-2" src="../image/desktop-pavan-2.png" alt="hero-img">
            </li>
        </ul>
    </div>
</section>