<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__closebutton" type="button" data-modal-close>
    <svg class="modal__icon" width="32" height="32">
      <use href="./image/desctop/symbol-defs.svg#icon-close-for-apartment">
      </use>
    </svg>
    </button>
    <h2 class="modal__title">House 1</h2>
    <div class="modal__flex">
      <img src="./image/layer.png" width="240px" height="201px" alt="modal_icon">
      <ul class="modal__list">
        <li>
          <h3 class="modal__subtitle">Total area: <span class="modal__ingradient">50.2 m2</span></h3>
        </li>
        <li>
          <h3 class="modal__subtitle">Rooms: <span class="modal__ingradient">1</span></h3>
        </li>
        <li>
          <h3 class="modal__ingradient-title">
            from 1000 dol/m2
          </h3>
        </li>
        <li>
          <h3 class="modal__mini-text">
            about 50 200 dollars
          </h3>
        </li>
        <li><button class="modal__button" type="button" data-modal-close>Contact us</button></li>
      </ul>
    </div>
  </div>
</div>