<div class="menu js-menu-container" data-menu>
  <div class="menu__container"> 
      <button class="menu__close js-close-menu button-close" type="button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="30"
        viewBox="0 0 30 30"
        fill="none"
      >
        <g clip-path="url(#clip0_9_1152)">
          <path
            d="M14.9999 13.2324L21.1874 7.04492L22.9549 8.81242L16.7674 14.9999L22.9549 21.1874L21.1874 22.9549L14.9999 16.7674L8.81242 22.9549L7.04492 21.1874L13.2324 14.9999L7.04492 8.81242L8.81242 7.04492L14.9999 13.2324Z"
            fill="#F5F5F5"
          />
        </g>
        <defs>
          <clipPath id="clip0_9_1152">
            <rect width="30" height="30" rx="4" fill="white" />
          </clipPath>
        </defs>
      </svg>
    </button>
    <ul class="menu__list">
      <li class="menu__item">
        <a href="#section1" class="menu__link">Home</a>
      </li>
      <li class="menu__item">
        <a href="#section2" class="menu__link">About</a>
      </li>
      <li class="menu__item">
        <a href="#section2" class="menu__link">Apartments</a>
      </li>
      <li class="menu__item">
        <a href="#section3" class="menu__link">Infrastructure</a>
      </li>
      <li class="menu__item">
        <a href="#section4" class="menu__link">Gallery</a>
      </li>
      <li class="menu__item">
        <a href="#section5" class="menu__link">Contacts</a>
      </li>
    </ul>
  </div>
</div>
