<!-- philosophy -->
<section id="section3" class="philosophy">
  <div class="container">
    <div class="philosophy__div">
    <ul class="philosophy__list">
      <li class="philosophy__item">
        <svg class="philosophy__svg">
          <use href="./image/desctop/symbol-defs.svg#icon-iconoir_large-suitcase"></use>
        </svg>
        <p class="philosophy__text">15 years of experience</p>
      </li>
      <li class="philosophy__item">
        <svg class="philosophy__svg">
          <use href="./image/desctop/symbol-defs.svg#icon-iconoir_graph-up"></use>
        </svg>
        <p class="philosophy__text">30 thousand happy residents</p>
      </li>
      <li class="philosophy__item">
        <svg class="philosophy__svg">
          <use href="./image/desctop/symbol-defs.svg#icon-iconoir_home"></use>
        </svg>
        <p class="philosophy__text">22 houses built</p>
      </li>
      <li class="philosophy__item">
        <svg class="philosophy__svg">
          <use href="./image/desctop/symbol-defs.svg#icon-Frame-99"></use>
        </svg>
        <p class="philosophy__text">9 awards</p>
      </li>
    </ul>
    <div class="philosophy__box">
      <h2 class="philosophy__title">Philosophy of our company</h2>
      <p class="philosophy__discription">
        Residential complex “Nice view” is an island of tranquility, security
        and comfort. In our project, we created the opportunity to lead a
        measured life in the very center of the city.
      </p>
    </div>
    </div>
  </div>
</section>