<div class="backdrop is-hidden" data-touch>
    <div class="touchmodal">
      <button class="touchmodal__closebutton" type="button" data-touch-close>
        <svg class="touchmodal__icon" width="18" height="18">
          <use href="./image/desctop/symbol-defs.svg#icon-close-for-apartment">
          </use>
        </svg>
      </button>
      <h2 class="touchmodal__title">
        Leave your contacts and we will contact you
      </h2>
      <ul class="touchmodal__list">
        <li class="touchmodal__item">
          <label for="name" class="touchmodal__name">Name
            <input id="name" type="text" class="touchmodal__input" placeholder="Yulia"/>
          </label>
        </li>
        <li class="touchmodal__item">
          <label for="phone" class="touchmodal__name">Telephone
            <input id="phone" type="tel" class="touchmodal__input" placeholder="+380"/>
          </label>
        </li>
        <li class="touchmodal__item">
          <label for="email" class="touchmodal__name">Email
            <input id="email" type="email" class="touchmodal__input" placeholder="Contact@gmail.com" />
          </label>
        </li>
      </ul>
      <button class="touchmodal__button" type="button" data-touch-close>Contact us</button>
    </div>
  </div>